.singlePost {
  flex: 8;
  margin-left: 80px;
  padding-top: 20px;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}

.singlePostImg {
  width: 30vw;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  margin-bottom: 20px;
  font-family: "Lora", serif;
  font-size: 36px;
  color: rgb(29, 55, 143);
}

.singlePostTitleInput {
  margin-bottom: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
  border: none;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus {
  outline: none;
}

.singlePostEdit {
  float: right;
  font-size: 24px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  color: #b39656;
}

.singlePostCat {
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  color: #b39656;
  margin-bottom: 20px;
}

.singlePostDesc {
  margin-top: 20px;
  color: #666;
  font-size: 18px;
  line-height: 25px;
  white-space: pre-line;
}

.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDescInput:focus {
  outline: none;
}
.singlePostButton {
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .singlePost {
    margin-left: 20px;
    width: 100%;
  }

  .singlePostWrapper {
    width: 100%;
  }

  .singlePostTitle {
    font-size: 20px;
  }

  .singlePostImg {
    width: 250px;
  }

  .singlePostEdit {
    font-size: 18px;
  }

  .singlePostAuthor {
    font-size: 14px;
  }

  .singlePostDate {
    font-size: 12px;
  }

  .singlePostDesc {
    font-size: 14px;
  }
}
