.profile {
  display: flex;
}

.profileImg {
  object-fit: cover;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  position: absolute;
  top: 20vh;
  right: 65vw;
}

.profile-bg {
  clip-path: fill-box;
  background-color: rgba(240, 174, 74, 0.7);
  width: 900px;
  height: 500px;
  position: absolute;
  top: 28vh;
  right: 15vw;
}

.profileDesc {
  position: absolute;
  top: 35vh;
  right: 50vw;
  z-index: 999;
}

.title {
  font-size: 40px;
  color: rgba(24, 110, 147);
  margin-bottom: 20px;
}
