.post {
  width: 385px;
  margin: 0px 60px 40px 25px;
}

.postImg {
  width: 80%;
  height: 308px;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postTitle {
  color: rgb(29, 55, 143);
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 15px;
  color: #999;
  margin-top: 15px;
}
